{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Picker</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        #map { height: 400px; width: 50%;}
        #addressName { margin-top: 10px; }
    </style>
</head>
<body>
    <h1>Map Picker</h1>
    <div id="map"></div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <input type="text" id="searchInput" placeholder="Search location">
        <button type="button" onclick="searchLocation()">Search</button>
        <div id="addressName"></div>
        <button type="submit">Save Location</button>
    </form>

    <script>
        var map = L.map('map').setView([41.311081, 69.240562], 12); // Tashkent's coordinates and zoom level
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var marker;
        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
        });

        function searchLocation() {
            var addressInput = document.getElementById('searchInput').value;
            var searchQuery = addressInput + ', Tashkent';
            fetch('https://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + searchQuery)
            .then(response => response.json())
            .then(data => {
                if (data.length > 0) {
                    var address = data[0];
                    map.setView([address.lat, address.lon], 12);
                    if (marker) {
                        map.removeLayer(marker);
                    }
                    marker = L.marker([address.lat, address.lon]).addTo(map);
                    document.getElementById('latitude').value = address.lat;
                    document.getElementById('longitude').value = address.lon;
                    document.getElementById('addressName').innerText = address.display_name;
                } else {
                    document.getElementById('addressName').innerText = 'Address not found';
                }
            })
            .catch(error => {
                console.error('Error searching address:', error);
                document.getElementById('addressName').innerText = 'Error searching address';
            });
        }
        
    </script>
</body>
</html>
