{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Picker</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        #map { height: 400px; width: 50%;}
    </style>
</head>
<body>
    <h1>Map Picker</h1>
    <div id="map"></div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <button type="submit">Save Location</button>
    </form>

    <script>
        var map = L.map('map').setView([41.311081, 69.240562], 12); // Tashkent's coordinates and zoom level
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        var marker;
        map.on('click', function(e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
        });
    </script>
</body>
</html>
